<div class="padding-global padding-section-medium"><div class="container-large reviews"><h2 class="heading-style-h2">
{{ section.settings.text_headline }}
</h2>
<div><div data-delay="4000" data-animation="slide" class="slider w-slider" data-autoplay="true" data-easing="ease" data-hide-arrows="false" data-disable-swipe="false" data-autoplay-limit="0" data-nav-spacing="3" data-duration="500" data-infinite="true"><div class="w-slider-mask"><div class="slideshow w-slide"><div class="div-block-36"><div class="heading-style-h4-2 product">
{{ section.settings.text_review_1_naam }}
</div>
<img src="{{ 'svgg.svg' | asset_url }}" loading="lazy" alt="" class="sterrating">
<div class="_16-txt black">
{{ section.settings.text_review_1_tekst }}
</div>
</div></div><div class="slideshow w-slide"><div class="div-block-36"><div class="heading-style-h4-2 product">
{{ section.settings.text_review_2_naam }}
</div>
<img src="{{ 'svgg.svg' | asset_url }}" loading="lazy" alt="" class="sterrating">
<div class="_16-txt black">
{{ section.settings.text_review_2_tekst }}
</div>
</div></div><div class="slideshow w-slide"><div class="div-block-36"><div class="heading-style-h4-2 product">
{{ section.settings.text_review_3_naam }}
</div>
<img src="{{ 'svgg.svg' | asset_url }}" loading="lazy" alt="" class="sterrating">
<div class="_16-txt black">
{{ section.settings.text_review_3_tekst }}
</div>
</div></div><div class="slideshow w-slide"><div class="div-block-36"><div class="heading-style-h4-2 product">
{{ section.settings.text_review_4_naam }}
</div>
<img src="{{ 'svgg.svg' | asset_url }}" loading="lazy" alt="" class="sterrating">
<div class="_16-txt black">
{{ section.settings.text_review_4_tekst }}
</div>
</div></div><div class="slideshow w-slide"><div class="div-block-36"><div class="heading-style-h4-2 product">
{{ section.settings.text_review_5_naam }}
</div>
<img src="{{ 'svgg.svg' | asset_url }}" loading="lazy" alt="" class="sterrating">
<div class="_16-txt black">
{{ section.settings.text_review_5_tekst }}
</div>
</div></div><div class="slideshow w-slide"><div class="div-block-36"><div class="heading-style-h4-2 product">
{{ section.settings.text_review_6_naam }}
</div>
<img src="{{ 'svgg.svg' | asset_url }}" loading="lazy" alt="" class="sterrating">
<div class="_16-txt black">
{{ section.settings.text_review_6_tekst }}
</div>
</div></div></div><div class="left-arrow-2 w-slider-arrow-left"><div class="icon-3 w-icon-slider-left"></div></div><div class="right-arrow-2 w-slider-arrow-right"><div class="icon-2 w-icon-slider-right"></div></div><div class="slide-nav-2 w-slider-nav w-round w-num"></div></div></div></div></div> {% schema %} {"tag":"div","name":"reviews","class":"section-review-slider","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"wat klanten over ons zeggen"},{"id":"text_review_1_naam","type":"text","label":"Review 1 - Naam","default":"nienke schut"},{"id":"text_review_1_tekst","type":"text","label":"Review 1 - Tekst","default":"Dit is mijn favoriete bierwinkel! Ruim aanbod, super goede service en altijd net iets goedkoper dan de rest. Roel is altijd bereid mee te denken of biertjes apart te zetten en hij verkoopt natuurlijk gewoon heel erg veel lekker bier. Zeker een aanrader, cheers! \ud83c\udf7b"},{"id":"text_review_2_naam","type":"text","label":"Review 2 - Naam","default":"nienke schut"},{"id":"text_review_2_tekst","type":"text","label":"Review 2 - Tekst","default":"Dit is mijn favoriete bierwinkel! Ruim aanbod, super goede service en altijd net iets goedkoper dan de rest. Roel is altijd bereid mee te denken of biertjes apart te zetten en hij verkoopt natuurlijk gewoon heel erg veel lekker bier. Zeker een aanrader, cheers! \ud83c\udf7b"},{"id":"text_review_3_naam","type":"text","label":"Review 3 - Naam","default":"nienke schut"},{"id":"text_review_3_tekst","type":"text","label":"Review 3 - Tekst","default":"Dit is mijn favoriete bierwinkel! Ruim aanbod, super goede service en altijd net iets goedkoper dan de rest. Roel is altijd bereid mee te denken of biertjes apart te zetten en hij verkoopt natuurlijk gewoon heel erg veel lekker bier. Zeker een aanrader, cheers! \ud83c\udf7b"},{"id":"text_review_4_naam","type":"text","label":"Review 4 - Naam","default":"nienke schut"},{"id":"text_review_4_tekst","type":"text","label":"Review 4 - Tekst","default":"Dit is mijn favoriete bierwinkel! Ruim aanbod, super goede service en altijd net iets goedkoper dan de rest. Roel is altijd bereid mee te denken of biertjes apart te zetten en hij verkoopt natuurlijk gewoon heel erg veel lekker bier. Zeker een aanrader, cheers! \ud83c\udf7b"},{"id":"text_review_5_naam","type":"text","label":"Review 5 - Naam","default":"nienke schut"},{"id":"text_review_5_tekst","type":"text","label":"Review 5 - Tekst","default":"Dit is mijn favoriete bierwinkel! Ruim aanbod, super goede service en altijd net iets goedkoper dan de rest. Roel is altijd bereid mee te denken of biertjes apart te zetten en hij verkoopt natuurlijk gewoon heel erg veel lekker bier. Zeker een aanrader, cheers! \ud83c\udf7b"},{"id":"text_review_6_naam","type":"text","label":"Review 6 - Naam","default":"nienke schut"},{"id":"text_review_6_tekst","type":"text","label":"Review 6 - Tekst","default":"Dit is mijn favoriete bierwinkel! Ruim aanbod, super goede service en altijd net iets goedkoper dan de rest. Roel is altijd bereid mee te denken of biertjes apart te zetten en hij verkoopt natuurlijk gewoon heel erg veel lekker bier. Zeker een aanrader, cheers! \ud83c\udf7b"}],"presets":[{"name":"reviews","category":"Liquify","blocks":[]}]} {% endschema %}